body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #ebe416;
}

.main-container {
    background-image: url('wallpaperhomepage.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    color: #ebe416;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    background-color: #007bff;
    color: white;
}

.admin-login {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.admin-login:hover {
    text-decoration: underline;
}
