body {
    background-color: #A7C7E7; /* Light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000080; /* Dark blue container background */
    color: #A7C7E7; /* Light blue text color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #A7C7E7; /* Light blue input background */
    color: #000080; /* Dark blue input text color */
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000080; /* Dark blue button background */
    color: #A7C7E7; /* Light blue button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #00124d; /* Slightly darker blue on hover */
}

.message {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #A7C7E7; /* Light blue background */
    color: #000080; /* Dark blue text */
    border: 1px solid #000080;
    border-radius: 5px;
}

.error {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #A7C7E7;
    color: #000080;
    border: 1px solid #000080;
    border-radius: 5px;
}
